{% extends 'music/Base.html' %}

{% block content %}
{% load static %}
		<h1>BLESSINGS ACCESSORY</h1>
		<div class="content">
			<h2>Content in blessings accessoory</h2>
			<p>check on the sidebar----></p>
		</div>
		<aside>
			<h3>Blessings sidebar</h3>
			<ul>
				<li>
					<a href="#">Phone</a>
				</li>
				<li>
					<a href="#">Laptops</a>
				</li>
				<li>
					<a href="#">Watchs</a>
				</li>
				<li>
					<a href="#">DVD</a>
				</li>
			</ul>
    </aside>				
    <img src="{% static 'music/images/terre.jpg'%}" alt="">
    <img src="{% static 'music/images/terre.jpg'%}" alt=""><br>
    <img src="{% static 'music/images/terre.jpg'%}" alt="">
	</div>



{% endblock %} 
